/* Globals ----------- */
img {
	vertical-align: top;
	height: auto;
	max-width: 100%;
}

//WordPress text wrapping
img.alignright { 
	float: right; 
	margin: 0 0 1em 1em; 
}

img.alignleft { 
	float: left; 
	margin: 0 1em 0em 0; 
}

img.aligncenter { 
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
}

.alignright { 
	float: right; 
}

.alignleft { 
	float: left; 
}

.aligncenter { 
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
}

#wpbb-workout-card {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		margin: 0;
		padding: 0;
	}

	h2 {
		font-size: 20px;
		text-transform: uppercase;
		color: $darkBlue;
		font-weight: 600;
		line-height: 24px;
	}

	h3 {
		font-size: 17px;
		text-transform: uppercase !important;
		color: $blue !important;
		font-weight: 600 !important;
	}

	h4 {
		font-size:16px !important;
		font-weight:600 !important;
		text-transform: uppercase !important;
		color: $blue !important;
	}

	p {
		font-size: 12px;
		font-weight: 600;
		color: $medGrey;
	}

	ol {
		margin-left: 0 !important;
		margin-bottom: 0 !important;
		padding-left:47px !important;
		display: block;
		list-style: none;
		counter-reset: numList;
		position:relative;

		li {
			margin-bottom: 10px !important;
			font-weight: 200 !important;
			padding-top: 2px !important;
			padding-bottom: 2px !important;
			font-size: 15px !important;
			line-height: 30px !important;
			color: $darkGrey !important;

			&:before {
				counter-increment: numList;
				content: counter(numList);
				float: left;
				position: absolute;
				margin-top: 0;
				left: 0;
				box-shadow: 6px 6px 28px $grey;
				font-size: 18px;
				font-weight:500;
				text-align: center;
				background-color: $blue;
				color: $white;
				width: 30px;
				height: 30px;
				line-height: 32px;
			}
		}
	}

	a {
		text-decoration: none !important;
		box-shadow: none !important;
		color: $white;
	}
}
