/* Helpers ----- */
%transition {
 transition: all 0.3s ease-in-out;
}

.no-padding {
	padding: 0 !important;
}

.no-pad-left {
	padding-left: 0 !important;
}

.no-pad-right {
	padding-right: 0 !important;
}

.pl-15 {
	padding-left: 15px !important;
}

.pr-15 {
	padding-right: 15px !important;
}

.text-right {
	text-align: right !important;
}

.text-center {
	text-align: center !important;
}

.text-left {
	text-align: left !important;
}

.float-right {
	float: right !important;
}

.float-left {
	float: left !important;
}

.gradient {
	background: linear-gradient( $white, $gradientBase );
	height: 43px;
}

