/* Workout card ------ */
.wpbb-workout {
	padding: 38px 28px;
	border: 1px solid $border;
}

#averages {
	margin: 40px 0;
	text-align: center;

	h5 {
		font-weight: 200;
		font-size: 10px;
		color: $grey;
	}

	.avg-time {
		margin-bottom: 14px;
	}
}

.description {
	margin-bottom: 20px;

	p {
		line-height: 20px !important;
		color: $star !important;
	}
}

.exercises {

	.day-title {
		border-bottom: 1px solid $grey;
	}

	.exercise {
		padding: 20px 0;
	}

	h4 {
		margin-bottom: 20px !important;
		font-size: 18px !important;
		color: $darkGrey !important;
		font-weight: 800;
	}
}

.sets {
	margin-top: 7px;
	padding-left: 40px;

	@media( max-width: 767px ) {
		margin-top: 20px;
		padding-left: 0;
	}

	p {
		font-size: 14px;
		margin: 6px 0 !important;

		span {
			font-weight: 600;
		}
	}
}

.rating-meta {
	margin-top: 5px;
}

#wpbb-workout-inner {
	h2 {
		margin-bottom: 4px;
	}

	header {
		.jq-ry-container {
			margin-top: 10px;
			padding-left: 0;
		}
	}
}

#workout-img {
	margin-bottom: 9px;
	box-shadow: $shadow 6px 6px 4px;
}

.save-button {
	margin-top: 5px;

	.save-btn {
		padding: 3px 15px;
		text-decoration: none;
		font-size: 10px;
		border-radius: 2px;
		box-shadow: none;
		color: white;
		border: 1px solid $grey;
		background: $star;
		font-weight: 200;
		border: none;

		&:hover {
			opacity: .8;
			color: white;
			background: $star;
			border-radius: 2px;
			box-shadow: none;
			border: none;
		}
	}
}