/* Workout card ------ */
#wpbb-workout-card {
	margin-top: 100px;
	padding: 0 32px;
	position: relative;

	.jq-ry-container {
		padding-left: 0;
	}

	.save-button {
		position: absolute;
		top: -44px;
		right: 0;
		@extend %boxShadow;

		.save-btn {

		}
	}
}

%headerP {
	font-size: 13px !important;
	color: $darkGrey !important;
	font-weight: 600 !important;

	span {
		font-weight: 400;
	}
}

.wpbb-workout {
	border: 1px solid $border;

	header {
		margin-top: 80px;

		h2 {
			margin-bottom: 22px !important;
		}

		p {
			@extend %headerP;
		}
	}

	#averages {
		margin-top: 25px;

		p {
			@extend %headerP;
		}
	}
}

#wpbb-workout-inner {
	margin-top: 40px;
}

.workout-content {
	h3 {
		margin-bottom: 28px !important;
	}

	p {
		color: $darkGrey;
		font-size: 14px;
		font-weight: 400 !important;
	}

	.description {
		margin-bottom: 40px;
	}
}

#rating-wrap {
	margin-top: -53px;

	.rating-meta {
		margin-top: -2px;
		text-align: center;
	}
}

%boxShadow {
	box-shadow: 15px 11px 30px $imgShadow !important;
}

.workout-image-wrapper {
	margin-top: -12px;
	text-align: right;

	#workout-img {
		position: relative;
		@extend %boxShadow;
	}
}

/* Buttons ----- */
.blue-btn {
	padding: 11px 24px 10px;
	text-decoration: none;
	box-shadow: none !important;
	background: $blue;
	transition: background .25s !important;
	color: $white;
	text-transform: uppercase;
	font-size: 11px;

	&:hover {
		color: $white !important;
		background: $grey;
	}
}