/* Post Exercise ------------- */
.exercise-title {
	margin-top: 20px;
}
#exercise-list {
	label {
		display: block;
	}
	input {
		margin-right: 10px;
		display: block;
		height:30px;
	}
	.rep-input {
		margin-left: -7%;
	}
	.rest-input {
		margin-left: -7%;
	}
	#sets {
		width: 70%;
	}
	#reps {
		width: 70%;
	}
	#rest {
		width: 70%;
	}
}
.selected-exercises {
	margin-top: 15px;
}
span.select2 {
	min-width: 50%;
}
#wp-workout_description-editor-tools {
	display: none;
}
.save-btn {
	color: white;
	background: $wp-blue;
	padding: 10px 20px;
	border-radius: 5px;
	font-weight: 800;
	float: right;

	&:hover {
		color: white;
		opacity: .8;
		cursor: pointer;
	}
}
#remove-btn {
	margin-top: 15px;
}
.remove-exercise {
	position: absolute;
	text-decoration: none;
	width: 24px;
	height: 24px;
	border: none;
	margin: 23px 0 0 -41px;
	padding: 0;
	background: 0 0;
	cursor: pointer;
	text-indent: 0;

	&:before {
		background: 0 0;
		color: $wp-blue;
		content: "\f153";
		display: block;
		font: 400 16px/20px dashicons;
		speak: none;
		height: 20px;
		text-align: center;
		width: 20px;
		-webkit-font-smoothing: antialiased;
	}

	&:hover {
		&:before {
			color: $wp-red;
		}
	}
}
a.day-repeat-add.button {
	margin-top: 10px;
}
#poststuff .inside {
	padding-bottom: 60px;
}
