/* Post Exercise ------------- */

#exercise-list {
	input {
		margin-right: 10px;
		height:30px;
	}

	#sets {
		width: 10%;
	}

	#reps {
		width: 22%;
	}

	#rest {
		width: 27%;
	}
}

.selected-exercises {
	margin-top: 15px;
}

.save-btn {
	color: white;
	background: $wp-blue;
	padding: 10px 20px;
	border-radius: 5px;
	font-weight: 800;
	float: right;

	&:hover {
		color: white;
		opacity: .8;
		cursor: pointer;
	}
}

#remove-btn {
	margin-top: 15px;
}

.remove-exercise {
	text-decoration: none;
	background: red;
	color: white;
	padding: 9px;
	padding-top: 3px;
	padding-bottom: 6px;
	border-radius: 25%;

	&:hover{
		background: white;
		border: solid 1px red;
		color: red;
	}
}

#poststuff .inside {
	padding-bottom: 60px;
}